@import url('./paleta.css');

.p-toolbar {
  background: #7e3604;
  color: #333;
  border: none;
  padding: 0.50rem;
  border-radius: 0;
  gap: 0.5rem;
}

.p-toolbar .p-button {
  background-color: #7e3604; /* Verde sutil para botões */
  color: white;
  border: none;
}

.linha-vertical {
  border-right: 1px solid #ddd; /* Cinza suave */
  margin-right: 2rem;
}
